@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,500;1,400&display=swap');

@font-face {
    font-family: "Apercu Pro";
    src: url("/fonts/Apercu\ Pro\ Black.ttf");
    font-weight: 600;
}

:root {
    --primary: #005BFF;
}